name: CI Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '11 22 2 * *'

jobs:
  tests:
    runs-on: ubuntu-latest

    name: Address-Formatting

    steps:
      - uses: actions/checkout@v4

      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.34'
          install-modules-with: cpanm

      - name: Tests
        run: bin/run_tests.t
